body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  /* background: linear-gradient(180deg, rgb(255, 255, 255), rgb(240, 238, 238)); */
  min-height: 100vh;
}
button:hover {
  cursor: pointer;
}
.container-packs {
  width: 90%;
  margin: auto;
}
/* .masonry {
  column-count: 6;
  column-gap: 1em;
  grid-auto-flow: row;
} */
.pack {
  display: inline-block;
}

.masonry {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-gap: 10px;
  grid-auto-rows: minmax(180px, auto);
  grid-auto-flow: dense;
  padding: 10px;
}

.container-empty {
  display: inline-block;
  width: 160px;
  height: 160px;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  background-color: rgb(235, 235, 235);
  box-shadow: inset 3px 4px 20px rgb(195, 195, 195);
}

.container {
  width: 160px;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  overflow: hidden;
  list-style: none;
  padding: 15px;
  border-radius: 10px;
  align-content: flex-start;
  color: white;
}
.container:hover {
  cursor: pointer;
}

.item {
  background: white;
  border-radius: 50%;
  height: 16px;
  width: 16px;
  margin: 3px;
}

.name-pack {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.search-section {
  height: 50vh;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  position: relative;
}
.search-input {
  width: 75%;
  height: 50px;
  border: solid 1px rgb(211, 211, 211);
  font-size: 2rem;
  padding-left: 30px;
  max-width: 500px;
  border-radius: 50px;
  background-color: transparent;
}
input:focus,
button:focus {
  outline: none;
}

.select-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}
.half {
  background-color: rgb(219, 219, 219);
  width: 50%;
  height: 100vh;
  box-sizing: content-box;
  position: relative;
}
.half .flex {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  align-content: space-around;
  align-items: center;
  align-content: flex-end;
}
.btn-group {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.inc {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.inc button {
  margin-right: 0;
  font-weight: 700;
}
.inc button:first-child {
  margin-right: 40px;
}
.set {
  height: 200px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.btn {
  background-color: transparent;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  color: rgb(195, 195, 195);
  border: solid 1px rgb(195, 195, 195);
  margin-right: 40px;
  font-size: 2rem;
}
.btn-set {
  background-color: transparent;
  width: 150px;
  padding: 0 32px;
  border: none;
  border-radius: 50px;
  height: 50px;
  color: white;
  font-weight: 700;
  font-size: large;
}
.btn-top {
  position: fixed;
  bottom: 40px;
  margin-right: 0;
  right: 10px;
  font-size: 1rem;
}
.input-number {
  background-color: transparent;
  border: none;
  font-size: 5rem;
  height: 200px;
  width: 150px;
  text-align: center;
}

.select-section .container:hover {
  cursor: default;
}
.rect {
  width: 50px;
  height: 50px;
  transition: 1s;
  margin: 0;
  border: solid 2px white;
  border-radius: 50px;
  transform: scale(0.5);
  position: absolute;
}

.btn-back {
  position: absolute;
  top: 30px;
  left: 30px;
}
.title {
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 2rem;
  font-weight: 900;
  color: white;
}

.hide {
  opacity: 0;
}
.show {
  opacity: 1;
  top: 70%;
  font-size: 1rem;
  font-weight: lighter;
}

.example-container .drag-area {
  opacity: 0.2;
  background: white;
  position: absolute;
  width: 110px;
  height: 100vh;
  border-radius: 30px;
  left: 40%;
}
.example-container .ciga-yellow {
  background-color: rgb(255, 213, 73);
  background: linear-gradient(140deg, rgb(255, 213, 73), rgb(206, 183, 108));
  border-radius: 8px;
  width: 110px;
  height: 39vh;
  position: absolute;
  bottom: -10vh;
  left: 40%;
}
.ciga-yellow:hover {
  cursor: grab;
}
.ciga-yellow:active {
  cursor: grabbing;
}
.example-container .ciga {
  position: absolute;
  bottom: -40vh;
  width: 110px;
  background-color: rgb(253, 253, 253);
  box-shadow: 2px 3px 15px rgb(202, 202, 202);
  height: 40vh;
}
.ciga-top {
  width: 110px;
  height: 30px;
  position: absolute;
  top: -12px;
  background-color: rgb(255, 240, 199);
  box-shadow: inset 2px 5px 10px rgb(243, 226, 178);
  border-radius: 100%;
  z-index: 0;
}
.pack-layout .ciga-top {
  z-index: -1;
}
.pack-layout .ciga-white {
  position: absolute;
  top: 0;
  height: 300px;
  background-color: rgb(255, 213, 73);
  background: linear-gradient(140deg, rgb(255, 213, 73), rgb(206, 183, 108));
  width: 110px;
  z-index: -2;
}
.line {
  width: 110px;
  height: 30px;
  position: absolute;
  border-radius: 100%;
  border-bottom: solid 3px rgba(255, 255, 255, 0.2);
}

.pack-layout {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40%;
  height: 100px;
  background-color: rgb(216, 216, 216);
  z-index: -3;
}

.results {
  min-height: 100vh;
  width: 100%;
}
.display-results {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  overflow: scroll;
  min-height: 100vh;
}

.separator {
  height: 4px;
}
.display-results .intro-results {
  box-shadow: none;
  widows: 100%;
}
.display-results .intro-results span {
  margin: 0 20px;
}
.display-results .packs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.display-results .packs > div {
  color: white;
  margin: 40px;
  min-width: 190px;
  min-height: 220px;
  border-radius: 5px;
  box-shadow: 3px 4px 9px rgb(146, 146, 146);
}
.display-results .period-pack {
  padding: 20px;
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 400;
  text-shadow: 2px 0px 2px #c5c5c5;
}
.period {
  transform-origin: center;
}
.intro-results > h1 {
  font-weight: 900;
  color: gray;
}
.big-title {
  position: absolute;
  font-size: 5rem;
  font-weight: 900;
  color: rgb(223, 223, 223);
  top: 7%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}

@media only screen and (min-width: 2400px) {
  .masonry {
    column-count: 6;
  }
}

@media only screen and (max-width: 1224px) {
  .masonry {
    column-count: 4;
  }
}

/* Masonry on medium-sized screens */
@media only screen and (max-width: 970px) {
  .masonry {
    column-count: 3;
  }
  .big-title {
    top: 110px;
    font-size: 3rem;
  }
  .packs {
    margin-top: 180px;
  }
}

@media only screen and (max-width: 700px) {
  body {
    overflow-x: hidden;
    width: 100vw;
    max-width: 100%;
  }
  .masonry {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-count: 2;
  }
  .half {
    width: 100%;
    height: 50vh;
  }
  .flex {
    height: 50vh;
  }
  .select-section {
    height: auto;
  }
  .set {
    height: 90px;
  }
  .title {
    font-size: 3.3rem;
  }
  .btn-group {
    width: 100%;
    height: 60vh;
    position: relative;
  }
  .show {
    top: 20%;
  }
  .fix-height {
    height: 100vh;
    overflow: hidden;
  }
  .input-number {
    font-size: 4rem;
    margin-right: 0;
  }

  .rect {
    width: 150px;
    height: 150px;
    border-radius: 150px;
  }
  .example-container .drag-area {
    left: 70%;
  }
  .example-container .ciga-yellow {
    bottom: -12vh;
    height: 20vh;
    left: 70%;
  }
  .example-container .ciga-yellow,
  .example-container .ciga,
  .ciga-top,
  .line,
  .pack-layout .ciga-white {
    width: 70px;
  }
  .ciga-top {
    top: -8px;
    height: 20px;
  }
  .pack-layout {
    width: 100%;
    height: 50px;
  }
  .big-title {
    top: 160px;
    font-size: 2rem;
  }
  .display-results {
    overflow: unset;
  }
  .packs {
    margin-top: 250px;
  }
}
